$bd: .1rem solid black;

%basic {
  width: 50%;
  margin: 1rem auto;
  border: $bd;
  padding: .5rem;
}
html, body {
  margin: 0;
}

#wrapper {
  #choose-num-form{
    @extend %basic;
    #start-num {
    }
    #include-num {
    }
    button {
    }
  }

  #prob-div {
    @extend %basic;
  }
  #prob-msg {
    @extend %basic;
    #cct-msg {
      display: none;
      @extend %basic;
    }
    #wng-msg {
      display: none;
      @extend %basic;
    }
  }

  #progress-bars {
    @extend %basic;
    #round-holder {
      margin: 1rem;
      background: green;
      position: relative;
      height:1rem;
      width: 80%;
      overflow: hidden;
      #round-mover {
        background: red;
        position: absolute;
        left: 0%;
        height: 100%;
        width: 100%;
      }
    }
    #session-holder {
      margin: 1rem;
      background: blue;
      position: relative;
      height:1rem;
      width: 80%;
      overflow: hidden;
      #session-mover {
        background: pink;
        position: absolute;
        left: 0%;
        height: 100%;
        width: 100%;
      }
    }
  }
  #end-msg {
    @extend %basic;
    display: none;
    #mis-qs {
      @extend %basic;
    }
  }
}
span {
  color: red;
}
fieldset {
}
